Repository UB-ES-2020-F/UBEats, pull requests merged in 2020-12, with the labels that each got.

#150 Iss147: {4 hrs}[US-9] API search queries
  backend/controllers/Restaurants.js
  backend/routes/index.js
  backend/services/restaurants.js
  backend/services/users.js
  backend/test/Restaurant.js
  backend/test/Users.js
  docs/endpoints/Restaurants.md
Labels: Backend, documentation, enhancement

#187 {2 hrs}[GENERAL] Sanitaze user input on the backend
  backend/controllers/Items.js
  backend/helpers/helpers.js
  backend/package-lock.json
  backend/package.json
  backend/services/extra_items.js
  backend/services/items.js
  backend/services/restaurants.js
  backend/services/users.js
  backend/test/Item.js
  backend/test/Restaurant.js
Labels: Backend, Quality Assurance

#185 Issue159
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/api/restaurant.service.js
  frontend/src/commons/components/Footer.js
  frontend/src/commons/components/Logo.js
  frontend/src/commons/components/Main.css
  frontend/src/commons/components/RestPreviewGeneral.js
  frontend/src/commons/components/RestPreviewMin.js
  frontend/src/pages/Home/Home.js
  frontend/src/pages/Login/Login.js
  frontend/src/pages/Navbar/MainNav.css
  frontend/src/pages/Navbar/NavCustom.js
  frontend/src/pages/Navbar/SearchForm.js
  frontend/src/pages/ProfileRestaurant/ProfileRestaurantNEW.js
  frontend/src/pages/RegisterClient/RegisterClient.js
  frontend/src/pages/RegisterRestaurant/RegisterRestaurant.js
  frontend/src/pages/ViewAll/ViewAll.js
Labels: Frontend, Functional

#176 Issue169
  frontend/src/pages/ProfileClient/ProfileClient.js
Labels: Frontend

#183 #155
  frontend/src/App.js
  frontend/src/commons/components/Error.css
  frontend/src/pages/Error/Error.js
Labels: Frontend

#182 Issue#156 and #152
  frontend/src/commons/components/CategoriasHome.js
  frontend/src/commons/components/Main.css
  frontend/src/pages/Home/Home.js
Labels: Frontend

#180 #153
  frontend/src/commons/components/RestPreviewGeneral.js
  frontend/src/commons/components/RestPreviewMin.js
Labels: Frontend

#181 Issue165
  frontend/src/App.js
  frontend/src/commons/components/CategoriasHome.js
  frontend/src/commons/components/RestPreviewEmpty.js
  frontend/src/images/empty_rest.png
  frontend/src/pages/Home/Home.js
  frontend/src/pages/Login/Login.js
  frontend/src/pages/Navbar/NavCustom.js
  frontend/src/pages/ProfileClient/ProfileClient.js
  frontend/src/pages/Sidebar/GeneralSidebar.css
  frontend/src/pages/Sidebar/GeneralSidebar.js
  frontend/src/pages/Sidebar/LoggedSidebar.js
  frontend/src/pages/ViewAll/ViewAll.js
Labels: Frontend, Functional, bug

#179 #154
  frontend/src/App.js
  frontend/src/commons/components/ShoppingCart.css
  frontend/src/commons/components/ShoppingCart.js
  frontend/src/pages/ShoppingCart/ShoppingCartPage.js
  frontend/src/pages/Sidebar/DefaultSidebar.js
  frontend/src/pages/Sidebar/GeneralSidebar.css
  frontend/src/pages/Sidebar/LoggedSidebar.js
Labels: Frontend

#188 Is151
  backend/controllers/Extra_items.js
  backend/controllers/Items.js
  backend/controllers/Orders.js
  backend/controllers/Restaurants.js
  backend/controllers/Users.js
  backend/index.js
  backend/routes/index.js
  backend/services/extra_items.js
  backend/services/items.js
  backend/services/orders.js
  backend/services/restaurants.js
  backend/services/users.js
  backend/test/Extra_items.js
  backend/test/Item.js
  backend/test/Order.js
  backend/test/Restaurant.js
  backend/test/Users.js
  docs/endpoints/Orders.md
Labels: Backend

#186 Iss167
  frontend/src/App.js
  frontend/src/api/auth.service.js
  frontend/src/api/restaurant.js
  frontend/src/api/restaurant.service.js
  frontend/src/api/type.service.js
  frontend/src/api/user.service.js
  frontend/src/commons/components/App.css
  frontend/src/commons/components/Footer.js
  frontend/src/pages/ProfileClient/ProfileClient.js
  frontend/src/pages/ProfileRestaurant/ProfileRestaurantNEW.js
  frontend/src/pages/Wiki/Wiki.css
  frontend/src/pages/Wiki/Wiki.js
  wiki.txt
Labels: Frontend

#177 issue 173
  frontend/src/pages/Sidebar/GeneralSidebar.js
  frontend/src/pages/Sidebar/LoggedSidebar.js
  setup_database.sql
Labels: Backend

#190 wiki changes
  frontend/src/pages/Wiki/Wiki.js
Labels: Frontend
