Repository UB-ES-2020-F/UBEats, pull requests merged in 2020-11, with the labels that each got.

#40 us15_crud_user
  backend/controllers/Users.js
  backend/package-lock.json
  backend/package.json
  backend/routes/index.js
  backend/services/users.js
  backend/test/Users.js
Labels: Backend

#69 Is49
  backend/services/users.js
  backend/test/Users.js
Labels: Backend

#79 #33 manage user roles and #57 navbar logged
  .gitignore
  frontend/.gitignore
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/manifest.json
  frontend/build/precache-manifest.db561f5b6ea9655b1c581f1d9d121d32.js
  frontend/build/robots.txt
  frontend/build/service-worker.js
  frontend/build/static/css/2.2a86faee.chunk.css
  frontend/build/static/css/2.2a86faee.chunk.css.map
  frontend/build/static/css/main.72e91f83.chunk.css
  frontend/build/static/css/main.72e91f83.chunk.css.map
  frontend/build/static/js/2.00b288b2.chunk.js
  frontend/build/static/js/2.00b288b2.chunk.js.LICENSE.txt
  frontend/build/static/js/2.00b288b2.chunk.js.map
  frontend/build/static/js/main.7e23c927.chunk.js
  frontend/build/static/js/main.7e23c927.chunk.js.map
  frontend/build/static/js/runtime-main.c8a21426.js
  frontend/build/static/js/runtime-main.c8a21426.js.map
  frontend/build/static/media/under_construction.a5b1930d.png
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/actions/auth.js
  frontend/src/api/auth-header.js
  frontend/src/api/auth.service.js
  frontend/src/commons/components/App.css
  frontend/src/commons/components/MainNav.js
  frontend/src/commons/components/Nav.css
  frontend/src/images/default_profile.png
  frontend/src/images/favourites.jpg
  frontend/src/images/help.jpg
  frontend/src/images/invite.jpg
  frontend/src/images/orders.jpg
  frontend/src/images/promotions.jpg
  frontend/src/images/sidebar_btn.jpg
  frontend/src/images/wallet.jpg
  frontend/src/index.js
  frontend/src/pages/Login/Login.js
  frontend/src/pages/Navbar/GeneralNav.js
  frontend/src/pages/Navbar/MainNav.css
  frontend/src/pages/Sidebar/DefaultSidebar.js
  frontend/src/pages/Sidebar/GeneralSidebar.css
  frontend/src/pages/Sidebar/GeneralSidebar.js
  frontend/src/pages/Sidebar/LoggedSidebar.js
  frontend/src/routes.js
  package-lock.json
  package.json
Labels: Frontend, Functional

#71 Issue19 done
  .vscode/launch.json
  frontend/src/commons/components/App.css
  frontend/src/images/alitas.jpg
  frontend/src/images/banner.jpg
  frontend/src/images/bucket.jpg
  frontend/src/images/pikachu.jpg
  frontend/src/images/pollo.jpg
  frontend/src/pages/ProfileClient/ProfileClient.js
  frontend/src/pages/ProfileRestaurant/ProfileRestaurant.js
Labels: Frontend

#77 Is62 crud items
  backend/README.md
  backend/controllers/Items.js
  backend/index.js
  backend/routes/index.js
  backend/services/items.js
  backend/test/Item.js
Labels: Backend

#82 Added an extra api for requesting items by restaurant id and implemen…
  backend/controllers/Items.js
  backend/routes/index.js
  backend/services/items.js
  backend/test/Item.js
Labels: Backend

#87 dynamically get restaurant menu
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/api/restaurant.js
  frontend/src/index.js
  frontend/src/pages/Home/Home.js
  frontend/src/pages/Navbar/GeneralNav.js
  frontend/src/pages/Navbar/MainNav.css
  frontend/src/pages/ProfileRestaurant/ProfileRestaurant.js
Labels: Frontend, Functional

#85 Issue#1 v2
  frontend/src/commons/components/App.css
  frontend/src/pages/RegisterClient/RegisterClient.js
Labels: Frontend

#83 Issue #50 v3
  frontend/src/commons/components/Main.css
  frontend/src/pages/Home/Home.js
Labels: Frontend

#84 Issue #16 v2
  frontend/src/commons/components/App.css
  frontend/src/pages/RegisterRestaurant/RegisterRestaurant.js
Labels: Frontend

#88 Restaurant preview -> Restaurant profile. Dynamical route
  frontend/package.json
  frontend/src/App.js
  frontend/src/commons/components/Main.css
  frontend/src/images/defaultPizza.jpg
  frontend/src/pages/Home/Home.js
  frontend/src/pages/ProfileRestaurant/ProfileRestaurant.js
Labels: Frontend, Functional

#73 Issue #7
  frontend/src/commons/components/App.css
  frontend/src/pages/Login/Login.js
Labels: Frontend

#125 Issue107: Footer component
  frontend/src/App.js
  frontend/src/commons/components/Footer.css
  frontend/src/commons/components/Footer.js
  frontend/src/commons/components/Main.css
  frontend/src/pages/Home/Home.js
Labels: Frontend, Visual

#127 Issue105. New registered user logs in upon register. And goes to profileclient.
  frontend/src/App.js
  frontend/src/actions/auth.js
  frontend/src/api/auth.service.js
  frontend/src/pages/Login/Login.js
  frontend/src/pages/RegisterClient/RegisterClient.js
  frontend/src/pages/RegisterDeliveryman/RegisterDeliveryman.js
  frontend/src/pages/RegisterRestaurant/RegisterRestaurant.js
  frontend/src/reducers/auth.js
Labels: Frontend, Functional

#128 Issue@110
  frontend/src/commons/components/Categorias.js
  frontend/src/commons/components/CategoriasHome.js
  frontend/src/commons/components/Main.css
  frontend/src/commons/components/RegisterPubli.js
  frontend/src/commons/components/RestPreviewGeneral.js
  frontend/src/pages/Home/Home.js
Labels: Frontend

#120 Is91 && is117 && is118 && is119 && is114 && is116 && is98
  backend/controllers/Items.js
  backend/controllers/Restaurants.js
  backend/controllers/Users.js
  backend/helpers/helpers.js
  backend/routes/index.js
  backend/services/items.js
  backend/services/restaurants.js
  backend/services/users.js
  backend/test/Item.js
  backend/test/Restaurant.js
  backend/test/Users.js
  docs/endpoints/Items.md
  docs/endpoints/Restaurants.md
  docs/endpoints/Users.md
  setup_database.sql
Labels: Backend, bug

#142 Is97 is140
  backend/controllers/Restaurants.js
  backend/controllers/Users.js
  backend/routes/index.js
  backend/services/restaurants.js
  backend/test/Restaurant.js
  backend/test/Users.js
Labels: Backend, enhancement

#130 Is113 api items extra
  backend/controllers/Extra_items.js
  backend/routes/index.js
  backend/services/extra_items.js
  backend/services/items.js
  backend/test/Extra_items.js
Labels: Backend

#131 issue93_done
  frontend/src/commons/components/App.css
  frontend/src/pages/ProfileRestaurant/ProfileRestaurant.js
Labels: Frontend

#136 Issue103 Display User Info in profileClient
  frontend/src/App.js
  frontend/src/api/homepage.service.js
  frontend/src/commons/components/CategoriasHome.js
  frontend/src/commons/components/RestPreviewGeneral.js
  frontend/src/pages/Home/Home.js
  frontend/src/pages/ProfileClient/ProfileClient.js
  frontend/src/pages/Sidebar/GeneralSidebar.js
  frontend/src/pages/Sidebar/LoggedSidebar.js
Labels: Frontend, Functional

#144 Fixed api methods to retrieve all data needed from ddbb
  backend/services/restaurants.js
Labels: Backend

#141 is115: Automatic QA tools
  .gitignore
  .travis.yml
  README.md
  backend/.eslintrc.json
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/test/Item.js
  package.json
  travis_install.sh
  travis_script.sh
Labels: DevOps, Quality Assurance, documentation, enhancement
